# DOCKER-VERSION 1.0.1
# VERSION 0.5
# mesos-master
FROM debian:jessie
MAINTAINER Pablo Torres <pablo.torres.t@gmail.com>

RUN echo "deb http://ppa.launchpad.net/webupd8team/java/ubuntu precise main" | tee /etc/apt/sources.list.d/webupd8team-java.list
RUN echo "deb-src http://ppa.launchpad.net/webupd8team/java/ubuntu precise main" | tee -a /etc/apt/sources.list.d/webupd8team-java.list
RUN apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys EEA14886
RUN apt-get update
RUN echo debconf shared/accepted-oracle-license-v1-1 select true | debconf-set-selections
RUN echo debconf shared/accepted-oracle-license-v1-1 seen true | debconf-set-selections
RUN apt-get install oracle-java7-installer oracle-java7-set-default -y
RUN rm -rf /var/cache/oracle-jdk7-installer
RUN apt-get clean

ENV SP_URL http://ftp.heanet.ie/mirrors/www.apache.org/dist/spark/spark-1.2.0/spark-1.2.0-bin-hadoop2.4.tgz
ENV SP_HOME /opt/spark
RUN (cd /tmp && wget $SP_URL -O pkg.tgz && tar zxf pkg.tgz && mv spark-* $SP_HOME)
RUN rm -rf /tmp/*

EXPOSE 7077 7078 8080
