FROM debian:wheezy
MAINTAINER Pablo Torres <pablo.torres.t@gmail.com>

#Install repos
RUN echo "deb http://ppa.launchpad.net/webupd8team/java/ubuntu precise main" \
	| tee /etc/apt/sources.list.d/webupd8team-java.list \ 
	&& echo "deb-src http://ppa.launchpad.net/webupd8team/java/ubuntu precise main" \
	| tee -a /etc/apt/sources.list.d/webupd8team-java.list \
	&& apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys EEA14886 \
	&& apt-get update

#Install java
RUN echo debconf shared/accepted-oracle-license-v1-1 select true \
	| debconf-set-selections \
	&& echo debconf shared/accepted-oracle-license-v1-1 seen true \
	| debconf-set-selections \
	&& apt-get install -y \
		oracle-java7-installer \
		oracle-java7-set-default \
	&& rm -rf /var/cache/oracle-jdk7-installer \
	&& apt-get clean

#Install spark
ENV SP_URL http://ftp.heanet.ie/mirrors/www.apache.org/dist/spark/spark-1.2.2/spark-1.2.2-bin-hadoop2.4.tgz 
ENV SP_HOME /var/lib/spark
RUN ( mkdir -p $SP_HOME \
        && cd /tmp \
	&& wget $SP_URL -O pkg.tgz \
	&& tar zxf pkg.tgz \
	&& mv spark-* $SP_HOME)
	&& rm -rf /tmp/*
